<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kidweb</title>
    <style>
    .pic {
        
        background-color : {{colors}};
        width : 100%;
        height : 100%
        overflow-x: hidden;
        border: none;
      }
    </style>
  </head>
  <body style="margin: auto;">
    <button style="width: 100%; border: none;"><a href="/">Welcome in Kids website</button>
    <div class="pic">
    <button class="pic height:0%"><a href="/animal"></button>
    <img src="static\{{num}}.webp" width=100% height=auto>
    </div>
    
    <button style="width: 100%; border: none;"><a href="/">Welcome in Kids website</button>
    <button style="width: 100%; height:0%; border: none;"><a href="/animal">Animal</button>
    <img src="static\{{num}}.webp" width=100% height=auto>

    <button style="width: 100%; border: none;"><a href="/">Welcome in Kids website</button>
    <button style="width: 100%; height:0%; border: none;"><a href="/animal">Animal</button>
      <img src="static\{{num}}.webp" width=100% height=auto>
    
  </body>
</html>