<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kidsweb</title>

    <style>
      .button {
        position: fixed;
        background-color : {{colors}};
        width : 100%;
        height : 100%
        overflow-x: hidden;
        border: none;
      }
    </style>
  </head>
  <body style="margin: auto;">
    <button style="width: 100%; border: none;"><a href="/">Welcome in Kids website</button>
    <div>
        <button style="position: absolute"><a href="/color">Welcome in Kids website</button>
        <button class="button" style="height: 100%;">🍧</button>
    </div>
  </body>
</html>